{
  "plugins": [
    "react",
    "react-native"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": false,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": false,
      "objectLiteralShorthandProperties": true,
      "objectLiteralShorthandMethods": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "jsx": true
    }
  },
  "rules": {
    "brace-style": [2, "stroustrup"],
    "comma-dangle": [1, "always-multiline"],
    "consistent-return": 2,
    "curly": [2, "multi-line"],
    "dot-notation": 2,
    "eol-last": 2,
    "keyword-spacing": [2, {"before": true, "after": true, "overrides": {}}],
    "indent": [2, 2],
    "no-else-return": 2,
    "no-eq-null": 2,
    "no-floating-decimal": 2,
    "no-param-reassign": 2,
    "no-self-compare": 2,
    "no-shadow": 0,
    "no-throw-literal": 2,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 0,
    "quotes": [1, "single"],
    "react/display-name": 1,
    "react/forbid-prop-types": 1,
    "react/jsx-boolean-value": [1, "always"],
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-curly-spacing": 1,
    "react/jsx-handler-names": 1,
    "react/jsx-indent-props": [1, 2],
    "react/jsx-key": 1,
    "react/jsx-max-props-per-line": [1, {maximum: 3}],
    "react/jsx-no-bind": 1,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-literals": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-pascal-case": 1,
    "react/sort-prop-types": 1,
    "react/jsx-sort-props": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prefer-es6-class": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/require-extension": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "semi": [1, "always"],
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "space-infix-ops": 1,
    "spaced-comment": 2,
    "strict": 0,
    "vars-on-top": 1,
    "wrap-iife": 2
  }
}
